{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}

<section class="nb-services" id="section2">
  <div class="nb-services__container">
    <div class="nb-services__header nb-reveal">
      <div class="nb-services__accent-bar"></div>
      <h2>{{ $title }}</h2>
      <p>{{ $subtitle }}</p>
    </div>
    <div class="nb-services__grid">
      {{- range $i, $feature := $features }}
      <article class="nb-service-card nb-reveal nb-reveal--d{{ add $i 1 }}">
        <div class="nb-service-card__cover">
          <img src="{{ printf "images/illustrations/icons/%s.png" $feature.icon | relURL }}"
               alt="{{ $feature.title }}">
          <div class="nb-service-card__cover-shade"></div>
        </div>
        <div class="nb-service-card__body">
          <h3 class="nb-service-card__title">{{ $feature.title }}</h3>
          <div class="nb-service-card__text">{{ $feature.text | markdownify }}</div>
          <a href="{{ $feature.url }}" class="nb-service-card__link">
            자세히 보기 <em class="nb-service-card__arrow">&#x2192;</em>
          </a>
        </div>
      </article>
      {{- end }}
    </div>
  </div>
</section>
