{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}

<footer class="footer footer-dark">
	<div class="container">
			<div class="columns is-vcentered">
					<div class="column is-narrow">
							<div class="footer-logo">
									<img src="{{ printf "images/logos/%s" $logo | relURL }}">
							</div>
					</div>
					<div class="column has-text-centered">
							<div class="contact-info">
									{{- with $quickLinks.column1 }}
											{{- range .links }}
													{{- if eq .text "서울시 성동구 아차산로 153 예림출판문화센터 3층" }}
															<p class="address">{{ .text }}</p>
													{{- else }}
															{{- if eq .text "02-463-2338" }}
																	<p class="contact">{{ .text }} / 
															{{- else }}
																	{{- .text }}</p>
															{{- end }}
													{{- end }}
											{{- end }}
									{{- end }}
							</div>
					</div>
					<div class="column is-narrow">
							<nav class="level is-mobile">
									<div class="level-left">
											{{- range $socialMedia }}
											<a class="level-item" href="{{ .link }}" target="_blank">
													<span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
											</a>
											{{- end }}
									</div>
							</nav>
							<p class="copyright">© {{ now.Format "2006" }} Nobreak Co., Ltd. All Rights Reserved.</p>
					</div>
			</div>
	</div>
</footer>
<!-- 
  Previous Version - Full Footer(v24.12.31)
  ============================

<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
            </a>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
-->