{{ define "main" }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.section1 }}
    <!-- {{ partial "section1.html" . }} -->
		{{ partial "sections/nobreak1.html" . }}
    {{ end }}

    {{ if .Site.Params.section2 }}
		<!-- {{ partial "section2.html" . }} -->
    {{ partial "sections/nobreak2.html" . }}
    {{ end }}

    {{ if .Site.Params.section3 }}
		<!-- {{ partial "section3.html" . }} -->
    {{ partial "sections/nobreak3.html" . }}
    {{ end }}

    {{ if .Site.Params.section4 }}
		<!-- {{ partial "section4.html" . }} -->
    {{ partial "sections/nobreak4.html" . }}
    {{ end }}

    {{ if .Site.Params.section5 }}
		<!-- {{ partial "section5.html" . }} -->
    {{ partial "sections/nobreak5.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}